.passBox {
    border: 1px solid gray;
    border-radius: 2px;
    width: 50%;
    text-decoration: none;
    color: inherit;
}

    .passBox:hover {
        color: black;
    }

.fContainer {
    border: 1px solid lightblue;
    border-radius: 2px;
    padding: 10px;
}

.fInput {
    width: 10%;
}
.labCheck {
    margin-right: 1.5rem;
}

.resultBox {
    margin-bottom: 1.5rem;
}

.imgSecurity {
    margin-left: 20px;
    width: 3rem;
    height: 3rem;
}
